{% extends "layout.html"%}

{%block head%} 
    <title>Sobre - Daniel Vieira</title>
{%endblock%}


{% block content %}

<div id="wrapper">
    <img src="/img/avatar.jpg" alt="Avatar">
    <h1>Daniel Vieira</h1>
    <h2>Analista de Suporte | Estudante de programação</h2>
    <p>Estudando intensamente para me tornar um desenvolvedor web full stack. Apaixonado por <span>JavaScript</span></p>
</div>

<div id="links-footer" class="links">
    <a href="https://github.com/DevDaan/" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/daniel-do-n-vieira/" target="_blank">LinkedIn</a>
</div>

{% endblock %}