<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%block head%} 
        <title>Daniel</title>
    {%endblock%}
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/videos">Videos</a>
        </div>
    </header>


    {% block content%}{% endblock %}

<footer>
    <div class="links">
         <p>&copy; Daniel Vieira | Futuro Desenvolvedor</p>
    </div>
</footer>
</body>
</html>