{%extends "layout.html" %}

{%block head%}
    <title>Videos - Daniel Vieira</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}


<div id="wrapper">
    <h1>Videos</h1>
</div>


<section class="cards">

    <div class="card" id="HfkpxoJRdeU">
        <div class="card_image-container">
            <img src="https://img.youtube.com/vi/HfkpxoJRdeU/mqdefault.jpg" alt="Dk47 Desabafando">
        </div>
        <div class="card_content">
            <p>Desabafando | DK47</p>
        </div>
        <div class="card_info">
            <p>Duração: 4:57 </p>
            <p class="card_watch">Assistir</p>
        </div>
    </div>
    <div class="card" id="W6BsvcWZ590">
        <div class="card_image-container">
            <img src="https://img.youtube.com/vi/W6BsvcWZ590/mqdefault.jpg" alt="Dk47 e CesarMc | Alto do Morro">
        </div>
        <div class="card_content">
            <p>Do Alto do Morro | Dk47 e CesarMc</p>
        </div>
        <div class="card_info">
            <p>Duração: 3:03 </p>
            <p class="card_watch">Assistir</p>
        </div>
    </div>
    <div class="card" id="etZWWS8oEh0">
        <div class="card_image-container">
            <img src="https://img.youtube.com/vi/etZWWS8oEh0/mqdefault.jpg" alt="Filipe Ret | Obstinado">
        </div>
        <div class="card_content">
            <p>Obstinado | Filipe Ret</p>
        </div>
        <div class="card_info">
            <p>Duração: 4:12 </p>
            <p class="card_watch">Assistir</p>
        </div>
    </div>
    <div class="card" id="urh0_AGtNzg">
        <div class="card_image-container">
            <img src="https://img.youtube.com/vi/urh0_AGtNzg/mqdefault.jpg" alt="Poetas no Topo | Renascimento">
        </div>
        <div class="card_content">
            <p>Renascimento | Poetas no Topo</p>
        </div>
        <div class="card_info">
            <p>Duração: 7:50 </p>
            <p class="card_watch">Assistir</p>
        </div>
    </div>
    <div class="card" id="MkWMkYsGdf0">
        <div class="card_image-container">
            <img src="https://img.youtube.com/vi/MkWMkYsGdf0/mqdefault.jpg" alt="Dk47 e Xamã | Fora da Matrix">
        </div>
        <div class="card_content">
            <p>Fora da Matrix | DK47 e Xamã</p>
        </div>
        <div class="card_info">
            <p>Duração: 2:04 </p>
            <p class="card_watch">Assistir</p>
        </div>
    </div>
    <div class="card" id="-eTGY8D3wfI">
        <div class="card_image-container">
            <img src="https://img.youtube.com/vi/-eTGY8D3wfI/maxresdefault.jpg" alt="César MC | Minha ultima letra">
        </div>
        <div class="card_content">
            <p>Minha Última Letra | César Mc</p>
        </div>
        <div class="card_info">
            <p>Duração: 4:40 </p>
            <p class="card_watch">Assistir</p>
        </div>
    </div>

</section>


<div class="modal_overlay">
    <div class="modal">
        <a class="close_modal">
            <i class="material-icons">close</i>
        </a>

        <div class="modal-content">
            <iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>


<script src="/scripts.js"></script>

{% endblock %}